In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('/Users/jidekickpush/Documents/GitHub/0323_2020DATAPAR/Projects/Team Project - Earthquake/earthquake-database.csv')

In [92]:
df.head(5)

,Date,Time,Latitude,Longitude,Type,Depth,Depth_Error,Depth_Seismic_Stations,Magnitude,Magnitude_Type,...,Magnitude_Seismic_Stations,Azimuthal_Gap,Horizontal_Distance,Horizontal_Error,Root_Mean_Square,ID,Source,Location_Source,Magnitude_Source,Status
0,01/02/1965,13:44:18,19.246,145.616,Earthquake,131.6,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.863,127.352,Earthquake,80.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.579,-173.972,Earthquake,20.0,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.076,-23.557,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.938,126.427,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic

In [6]:
df.columns=df.columns.str.replace(' ','_')

In [7]:
df

,Date,Time,Latitude,Longitude,Type,Depth,Depth_Error,Depth_Seismic_Stations,Magnitude,Magnitude_Type,...,Magnitude_Seismic_Stations,Azimuthal_Gap,Horizontal_Distance,Horizontal_Error,Root_Mean_Square,ID,Source,Location_Source,Magnitude_Source,Status
0,01/02/1965,13:44:18,19.2460,145.6160,Earthquake,131.60,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.8630,127.3520,Earthquake,80.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.5790,-173.9720,Earthquake,20.00,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.0760,-23.5570,Earthquake,15.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.9380,126.4270,Earthquake,15.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23407,12/28/2016,08:22:12,38.3917,-118.8941,Earthquake,12.30,1.2,40.0,5.6,ML,...,18.0,42.47,0.120,NaN,0.1898,NN00570710,NN,NN,NN,Reviewed
23408,12/28/2016,09:13:47,38.3777,-118.8957,Earthquake,8.80,2.0,33.0,5.5,ML,...,18.0,48.58,0.129,NaN,0.2187,NN00570744,NN,NN,NN,Reviewed
23409,12/28/2016,12:38:51,36.9179,140.4262,Earthquake,10.00,1.8,NaN,5.9,MWW,...,NaN,91.00,0.992,4.8,1.5200,US10007NAF,US,US,US,Reviewed
23410,12/29/2016,22:30:19,-9.0283,118.6639,Earthquake,79.00,1.8,NaN,6.3,MWW,...,NaN,26.00,3.553,6.0,1.4300,US10007NL0,US,US,US,Reviewed
23411,12/30/2016,20:08:28,37.3973,141.4103,Earthquake,11.94,2.2,NaN,5.5,MB,...,428.0,97.00,0.681,4.5,0.9100,US10007NTD,US,US,US,Reviewed

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23412 entries, 0 to 23411
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        23412 non-null  object
 1   Time                        23412 non-null  object
 2   Latitude                    23412 non-null  float64
 3   Longitude                   23412 non-null  float64
 4   Type                        23412 non-null  object
 5   Depth                       23412 non-null  float64
 6   Depth_Error                 4461 non-null   float64
 7   Depth_Seismic_Stations      7097 non-null   float64
 8   Magnitude                   23412 non-null  float64
 9   Magnitude_Type              23409 non-null  object
 10  Magnitude_Error             327 non-null    float64
 11  Magnitude_Seismic_Stations  2564 non-null   float64
 12  Azimuthal_Gap               7299 non-null   float64
 13  Horizontal_Distance         1604 non-null   float64
 14  Horizontal_Error            1156 non-null   float64
 15  Root_Mean_Square            17352 non-null  float64
 16  ID                          23412 non-null  object
 17  Source                      23412 non-null  object
 18  Location_Source             23412 non-null  object
 19  Magnitude_Source            23412 non-null  object
 20  Status                      23412 non-null  object
dtypes: float64(12), object(9)
memory usage: 3.8+ MB

In [11]:
df.describe()

,Latitude,Longitude,Depth,Depth_Error,Depth_Seismic_Stations,Magnitude,Magnitude_Error,Magnitude_Seismic_Stations,Azimuthal_Gap,Horizontal_Distance,Horizontal_Error,Root_Mean_Square
count,23412.000000,23412.000000,23412.000000,4461.000000,7097.000000,23412.000000,327.000000,2564.000000,7299.000000,1604.000000,1156.000000,17352.000000
mean,1.679033,39.639961,70.767911,4.993115,275.364098,5.882531,0.071820,48.944618,44.163532,3.992660,7.662759,1.022784
std,30.113183,125.511959,122.651898,4.875184,162.141631,0.423066,0.051466,62.943106,32.141486,5.377262,10.430396,0.188545
min,-77.080000,-179.997000,-1.100000,0.000000,0.000000,5.500000,0.000000,0.000000,0.000000,0.004505,0.085000,0.000000
25%,-18.653000,-76.349750,14.522500,1.800000,146.000000,5.600000,0.046000,10.000000,24.100000,0.968750,5.300000,0.900000
50%,-3.568500,103.982000,33.000000,3.500000,255.000000,5.700000,0.059000,28.000000,36.000000,2.319500,6.700000,1.000000
75%,26.190750,145.026250,54.000000,6.300000,384.000000,6.000000,0.075500,66.000000,54.000000,4.724500,8.100000,1.130000
max,86.005000,179.998000,700.000000,91.295000,934.000000,9.100000,0.410000,821.000000,360.000000,37.874000,99.000000,3.440000

In [9]:
df.isna().sum()

Date                              0
Time                              0
Latitude                          0
Longitude                         0
Type                              0
Depth                             0
Depth_Error                   18951
Depth_Seismic_Stations        16315
Magnitude                         0
Magnitude_Type                    3
Magnitude_Error               23085
Magnitude_Seismic_Stations    20848
Azimuthal_Gap                 16113
Horizontal_Distance           21808
Horizontal_Error              22256
Root_Mean_Square               6060
ID                                0
Source                            0
Location_Source                   0
Magnitude_Source                  0
Status                            0
dtype: int64

In [28]:
df.Depth_Seismic_Stations.isna().sum()

16315

In [29]:
df.Type.value_counts()

Earthquake           23232
Nuclear Explosion      175
Explosion                4
Rock Burst               1
Name: Type, dtype: int64

In [30]:
df.Depth.value_counts()

10.00     3911
33.00     3694
35.00      592
15.00      384
20.00      336
          ...
50.11        1
518.90       1
613.10       1
556.40       1
45.64        1
Name: Depth, Length: 3485, dtype: int64

In [35]:
len(df.Depth.unique())

3485

In [37]:
df.Magnitude.value_counts()

5.50    4685
5.60    3967
5.70    3079
5.80    2346
5.90    1947
        ...
8.80       1
8.70       1
5.88       1
6.02       1
5.62       1
Name: Magnitude, Length: 64, dtype: int64

In [39]:
df.Magnitude_Type.value_counts()#need to get dummies

MW     7722
MWC    5669
MB     3761
MWB    2458
MWW    1983
MS     1702
ML       77
MWR      26
MD        6
MH        5
Name: Magnitude_Type, dtype: int64

In [40]:
df.Magnitude_Error.value_counts()

0.048    18
0.052    12
0.063    10
0.043     9
0.054     9
         ..
0.150     1
0.169     1
0.188     1
0.182     1
0.125     1
Name: Magnitude_Error, Length: 100, dtype: int64

In [42]:
len(df.Magnitude_Error.isna())#missing value

23412

In [43]:
df.Magnitude_Seismic_Stations.value_counts()

1.0      127
2.0       77
3.0       70
10.0      62
6.0       56
        ...
189.0      1
263.0      1
505.0      1
190.0      1
526.0      1
Name: Magnitude_Seismic_Stations, Length: 246, dtype: int64

In [45]:
len(df.Magnitude_Seismic_Stations.isna())

23412

In [46]:
df.Azimuthal_Gap.value_counts()

19.0     69
17.0     64
18.0     59
28.0     55
21.0     55
         ..
118.1     1
95.6      1
89.4      1
89.6      1
360.0     1
Name: Azimuthal_Gap, Length: 1109, dtype: int64

In [48]:
len(df.Azimuthal_Gap.isna())

23412

In [49]:
df.Horizontal_Distance.value_counts()

0.778    4
0.406    3
0.783    3
0.828    3
0.751    3
        ..
0.788    1
3.960    1
2.039    1
7.093    1
7.000    1
Name: Horizontal_Distance, Length: 1448, dtype: int64

In [51]:
len(df.Horizontal_Distance.isna())

23412

In [52]:
df.Horizontal_Error.value_counts()

6.40     29
6.80     29
7.50     28
5.30     26
7.30     26
         ..
0.33      1
2.18      1
0.84      1
12.50     1
3.20      1
Name: Horizontal_Error, Length: 186, dtype: int64

In [55]:
df.Horizontal_Error.isna().sum()

22256

In [56]:
df.Root_Mean_Square.value_counts()

1.000    1987
1.100    1898
0.900    1358
1.200    1306
1.300     716
         ...
1.950       1
0.226       1
0.195       1
0.410       1
2.750       1
Name: Root_Mean_Square, Length: 190, dtype: int64

In [58]:
len(df.Root_Mean_Square.isna())

23412

In [65]:
df.ID.value_counts()# do not provide any relevant information

US20004UKS      1
USP0001GAZ      1
USP000033E      1
USP0007EEC      1
USP000A6RX      1
               ..
USP000J85C      1
USP0009RND      1
USP000J8E3      1
ISCGEM784996    1
USP0001PQW      1
Name: ID, Length: 23412, dtype: int64

In [63]:
len(df.ID.unique())

23412

In [75]:
#'Source','Location_Source','Magnitude_Source','Status'

In [84]:
df.Source.value_counts();

In [90]:
len(df.Source.isna())
#get dummies but I don't think it is a relevant variable cause it's talking about the station record, not the earthquake itself

23412

In [83]:
df.Location_Source.value_counts();

In [82]:
len(df.Location_Source.isna())#same here

23412

In [87]:
df.Location_Source.unique()#same here

array(['ISCGEM', 'CI', 'US', 'H', 'U', 'G', 'NC', 'B', 'GCMT', 'AG', 'UW',
       'SPE', 'HVO', 'BRK', 'ATLAS', 'AGS', 'PGC', 'BOU', 'SLC', 'OTT',
       'AEI', 'AEIC', 'CASC', 'ISK', 'ATH', 'THE', 'ROM', 'MDD', 'WEL',
       'GUC', 'UNM', 'CSEM', 'RSPR', 'JMA', 'NN', 'CAR', 'SJA', 'TEH',
       'BEO', 'UCR', 'SE', 'TUL', 'TAP', 'THR', 'LIM', 'US_WEL', 'AK',
       'PR'], dtype=object)

In [91]:
df.Status.value_counts()# give information of the way the data is collected

Reviewed     20773
Automatic     2639
Name: Status, dtype: int64