In [1]:
import os
import pymysql
from sqlalchemy import create_engine
import pandas as pd

In [2]:
username='root'
host='127.0.0.1'
password=''
database_name='finance'

In [3]:
engine=create_engine(f'mysql+pymysql://{username}:{password}@{host}/{database_name}')

In [4]:
l={i[:-4]:pd.read_csv(i, sep=';') for i in os.listdir() if i.endswith('asc')}
for i,j in l.items():
    j.to_sql(i, engine, index=False, if_exists='replace')

In [5]:
xxx=pd.read_sql_query("""select l.account_id, district_id, amount from account a inner join loan l on l.account_id=a.account_id""", engine)

In [6]:
xxx.groupby('district_id').median()

             account_id    amount
district_id
1                7116.0  100890.0
2                6236.0  100764.0
3                4164.5  204936.0
4                5358.0  129312.0
5                5398.0  166722.0
...                 ...       ...
73               4438.5  173382.0
74               5945.0  137304.0
75               9323.0  125370.0
76              10065.0  196224.0
77               4929.5   68700.0

[77 rows x 2 columns]

In [7]:
df=pd.read_csv('/Users/jidekickpush/Documents/GitHub/0323_2020DATAPAR/Labs/Sans_titre')

In [8]:
df.head()

   brainwt   bodywt      animal
0    3.385   44.500  Arctic_fox
1    0.480   15.499  Owl_monkey
2    1.350    8.100      Beaver
3  464.983  423.012         Cow
4   36.328  119.498   Gray_wolf

In [9]:
text="""brainwt,bodywt,animal
3.385,44.5,Arctic_fox
0.48,15.499,Owl_monkey
1.35,8.1,Beaver
464.983,423.012,Cow
36.328,119.498,Gray_wolf
27.66,114.996,Goat
14.831,98.199,Roe_deer
1.04,5.5,Guinea_pig
4.19,57.998,Vervet
0.425,6.4,Chinchilla
0.101,4,Ground_squirrel
0.92,5.7,Arctic
1,6.6,African_giant_pouched_rat
0.005,0.14,Lesser_short-tailed-shrew
0.06,1,Star-nosed_mole
3.5,10.8,Nine-banded_armadillo
2,12.3,Tree_hyrax
1.7,6.3,N._American
2547.07,4603.17,Asian_elephant
0.023,0.3,Big_brown_bat
187.092,419.012,Donkey
521.026,654.977,Horse
0.785,3.5,European_hedgehog
10,114.996,Patas_monkey
3.3,25.6,Cat
0.2,5,Galago
1.41,17.5,Genet
529.006,680.005,Giraffe
206.996,406.019,Gorilla
85.004,324.992,Gray_seal
0.75,12.3,Rock_hyrax1
61.998,1320.02,Human
6654.18,5711.86,African_elephant
3.5,3.9,Water_opossum
6.8,179.003,Rhesus_monkey
34.998,56.003,Kangaroo
4.05,17,Yellow-bellied_marmot
0.12,1,Golden_hamster
0.023,0.4,Mouse
0.01,0.25,Little_brown_bat
1.4,12.5,Slow_loris
250.01,489.997,Okapi
2.5,12.1,Rabbit
55.501,175.002,Sheep
100.003,156.993,Jaguar
52.159,440.011,Chimpanzee
10.55,179.504,Baboon
0.55,2.4,Desert_hedgehog
59.997,80.996,Giant_armadillo
3.6,21,Rock_hyrax2
4.288,39.201,Raccoon
0.28,1.9,Rat
0.075,1.2,E._American_mole
0.122,3,Mole_rat
0.048,0.33,Musk_shrew
192.001,180.008,Pig
3,25.001,Echidna
160.004,169,Brazilian_tapir
0.9,2.6,Tenrec
1.62,11.4,Phalanger
0.104,2.5,Tree_shrew
4.235,50.4,Red_fox"""

In [10]:
ll=[i.split(',') for i in text.split('\n')]

In [11]:
pd.DataFrame(ll[1:],columns=ll[0])

    brainwt   bodywt           animal
0     3.385     44.5       Arctic_fox
1      0.48   15.499       Owl_monkey
2      1.35      8.1           Beaver
3   464.983  423.012              Cow
4    36.328  119.498        Gray_wolf
..      ...      ...              ...
57  160.004      169  Brazilian_tapir
58      0.9      2.6           Tenrec
59     1.62     11.4        Phalanger
60    0.104      2.5       Tree_shrew
61    4.235     50.4          Red_fox

[62 rows x 3 columns]

In [12]:
df.tail(10)

    brainwt   bodywt            animal
52    0.075    1.200  E._American_mole
53    0.122    3.000          Mole_rat
54    0.048    0.330        Musk_shrew
55  192.001  180.008               Pig
56    3.000   25.001           Echidna
57  160.004  169.000   Brazilian_tapir
58    0.900    2.600            Tenrec
59    1.620   11.400         Phalanger
60    0.104    2.500        Tree_shrew
61    4.235   50.400           Red_fox

In [13]:
df.sample(10)

     brainwt    bodywt           animal
8      4.190    57.998           Vervet
35    34.998    56.003         Kangaroo
18  2547.070  4603.170   Asian_elephant
5     27.660   114.996             Goat
34     6.800   179.003    Rhesus_monkey
14     0.060     1.000  Star-nosed_mole
21   521.026   654.977            Horse
19     0.023     0.300    Big_brown_bat
26     1.410    17.500            Genet
44   100.003   156.993           Jaguar

In [14]:
df.sample()

    brainwt   bodywt         animal
34      6.8  179.003  Rhesus_monkey

In [15]:
df.max()

brainwt                  6654.18
bodywt                   5711.86
animal     Yellow-bellied_marmot
dtype: object

In [16]:
df.dtypes

brainwt    float64
bodywt     float64
animal      object
dtype: object

In [17]:
df.brainwt.dtype

dtype('float64')

In [18]:
df = df.convert_dtypes()

In [19]:
df.brainwt = df.brainwt.astype(float)

df.types

In [20]:
df.max()

brainwt                  6654.18
bodywt                   5711.86
animal     Yellow-bellied_marmot
dtype: object

In [23]:
df.median()

brainwt     3.3425
bodywt     17.2500
dtype: float64

In [24]:
df.mean()

brainwt    198.794290
bodywt     283.135355
dtype: float64

In [25]:
df.max(axis=1)

0      44.500
1      15.499
2       8.100
3     464.983
4     119.498
       ...
57    169.000
58      2.600
59     11.400
60      2.500
61     50.400
Length: 62, dtype: float64

In [26]:
df.brainwt.mode()

0    0.023
1    3.500
dtype: float64

In [27]:
df.loc[df.brainwt.idxmax()]

brainwt             6654.18
bodywt              5711.86
animal     African_elephant
Name: 32, dtype: object

In [28]:
df.loc[df.brainwt.idxmin()]

brainwt                        0.005
bodywt                          0.14
animal     Lesser_short-tailed-shrew
Name: 13, dtype: object

In [29]:
df.loc[df.bodywt.idxmin()]

brainwt                        0.005
bodywt                          0.14
animal     Lesser_short-tailed-shrew
Name: 13, dtype: object

In [30]:
df.loc[df.bodywt.idxmax()]

brainwt             6654.18
bodywt              5711.86
animal     African_elephant
Name: 32, dtype: object

In [31]:
df.loc[df.bodywt.idxmin()]

brainwt                        0.005
bodywt                          0.14
animal     Lesser_short-tailed-shrew
Name: 13, dtype: object

In [32]:
df['bodywtkg']=df.bodywt*0.453592

In [33]:
df.head()

   brainwt   bodywt      animal    bodywtkg
0    3.385   44.500  Arctic_fox   20.184844
1    0.480   15.499  Owl_monkey    7.030222
2    1.350    8.100      Beaver    3.674095
3  464.983  423.012         Cow  191.874859
4   36.328  119.498   Gray_wolf   54.203337

In [34]:
df['wratio']=df['bodywt']/df.brainwt

In [35]:
df.loc[df.wratio.idxmax()]

brainwt               0.101
bodywt                    4
animal      Ground_squirrel
bodywtkg            1.81437
wratio               39.604
Name: 10, dtype: object

In [36]:
df.loc[df.wratio.idxmax()]

brainwt               0.101
bodywt                    4
animal      Ground_squirrel
bodywtkg            1.81437
wratio               39.604
Name: 10, dtype: object

In [37]:
df.isna()

    brainwt  bodywt  animal  bodywtkg  wratio
0     False   False   False     False   False
1     False   False   False     False   False
2     False   False   False     False   False
3     False   False   False     False   False
4     False   False   False     False   False
..      ...     ...     ...       ...     ...
57    False   False   False     False   False
58    False   False   False     False   False
59    False   False   False     False   False
60    False   False   False     False   False
61    False   False   False     False   False

[62 rows x 5 columns]

In [38]:
df.isna().max()

brainwt     False
bodywt      False
animal      False
bodywtkg    False
wratio      False
dtype: bool

In [39]:
df.animal.str.contains('Fox')

0     False
1     False
2     False
3     False
4     False
      ...
57    False
58    False
59    False
60    False
61    False
Name: animal, Length: 62, dtype: boolean

In [40]:
'fox' in 'Red_fox'

True

In [41]:
df.animal.str.contains('Fox').sum()

0

In [42]:
df[df.animal.str.contains('Fox')]

Empty DataFrame
Columns: [brainwt, bodywt, animal, bodywtkg, wratio]
Index: []

In [43]:
df.columns

Index(['brainwt', 'bodywt', 'animal', 'bodywtkg', 'wratio'], dtype='object')

In [44]:
df.index

RangeIndex(start=0, stop=62, step=1)

In [45]:
df.rename(columns={'const':'random number'}).max()

brainwt                   6654.18
bodywt                    5711.86
animal      Yellow-bellied_marmot
bodywtkg                  2590.85
wratio                     39.604
dtype: object

In [46]:
df.iloc[21:].loc[df.animal.str.contains('o')].loc[df.brainwt>1].max()

brainwt                   521.026
bodywt                    654.977
animal      Yellow-bellied_marmot
bodywtkg                  297.092
wratio                     26.324
dtype: object

In [49]:
df=df['animal','brainwt','bodywt']

KeyError: ('animal', 'brainwt', 'bodywt')

In [50]:
df.iloc[21:].loc[df.animal.str.contains('o')].loc[df.brainwt>1].max()

brainwt                   521.026
bodywt                    654.977
animal      Yellow-bellied_marmot
bodywtkg                  297.092
wratio                     26.324
dtype: object

In [51]:
filter

filter

In [52]:
df.animals.str.contains('o')

AttributeError: 'DataFrame' object has no attribute 'animals'

In [53]:
df.brainwt>1

0      True
1     False
2      True
3      True
4      True
      ...
57     True
58    False
59     True
60    False
61     True
Name: brainwt, Length: 62, dtype: bool

In [54]:
filterr=(df.animals.str.contains('o'))&(df.brainwt>1)&(df.index>20)

AttributeError: 'DataFrame' object has no attribute 'animals'

In [ ]:
df.loc[filterr].max()

In [55]:
###Binning  with .cut()

1.Equal witdth bins
2.Equal frequency bins
3.Custom-sized bins

SyntaxError: invalid syntax (<ipython-input-55-8929dbb67f6c>, line 3)

In [12]:
labels=['X-small','Small','Medium','Large','X-Large']

In [13]:
bins=pd.cut(df.bodywt,5,labels=labels)

In [14]:
bins

0     X-samll
1     X-samll
2     X-samll
3     X-samll
4     X-samll
       ...
57    X-samll
58    X-samll
59    X-samll
60    X-samll
61    X-samll
Name: bodywt, Length: 62, dtype: category
Categories (5, object): [X-samll < Small < Medium < Large < X-large]

In [15]:
bins.value_counts() #equal width bins

X-samll    59
X-large     2
Small       1
Large       0
Medium      0
Name: bodywt, dtype: int64

In [60]:
bins=pd.qcut(df.body,wt,5,labels=labels) #Equal frequency bins
bins

AttributeError: 'DataFrame' object has no attribute 'body'

In [ ]:
bins.value_counts()

In [ ]:
df.loc[bins=='X-large']

In [ ]:
#Custom-sized bins

In [ ]:
cutoffs=(0,1,3,6,100,10000)

In [ ]:
bins=pd.cut(df.bodywt, cutoffs, labels=labels)

In [17]:
df.loc[df.bodywt>15,'rodents']=True
df.loc[-(df.bodywt<15),'rodents']=False

In [18]:
df['bins']=pd.qcut(df.bodywt,5,labels-labels)

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [23]:
pd.get_dummies(df, columns=['bins']).drop(['bins_large"],axis=0)

SyntaxError: EOL while scanning string literal (<ipython-input-23-a8036ab462a6>, line 1)

In [24]:
df

    brainwt   bodywt           animal rodents
0     3.385   44.500       Arctic_fox   False
1     0.480   15.499       Owl_monkey   False
2     1.350    8.100           Beaver     NaN
3   464.983  423.012              Cow   False
4    36.328  119.498        Gray_wolf   False
..      ...      ...              ...     ...
57  160.004  169.000  Brazilian_tapir   False
58    0.900    2.600           Tenrec     NaN
59    1.620   11.400        Phalanger     NaN
60    0.104    2.500       Tree_shrew     NaN
61    4.235   50.400          Red_fox   False

[62 rows x 4 columns]

In [ ]:
df.drop(['bins_small','bins_X-Large'],axis=1, inplace=True)

In [ ]:
# Cleaning
* Missing Values
    * Detect them by counting them
    * Null them**
    * Interpolate
    * Drop them**
* Inconsistant data (logical errors)
* Outliers
    * Detec using IQR (inter-quartile range), Z-score (normal distribution based approach)
    * Drop them
    * fix them
    * Trancate them (winsorising)
    * Leave them as they are
* Text error
    * Special Characters éèêëēėę
    * Numbers that are considered as text
    * Empty cgaracters
   
    * Different notations Ave. des Champs Elysées and Avenue des CHamps Elysées
    * Mixed case (upper and lower), punctuation marks (!,'".:;etc)
    * Special solutions - (NLP Natural Language Processing)
* Duplicate
* Low variance