In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('/Users/jidekickpush/Documents/GitHub/0323_2020DATAPAR/Projects/Team Project 3/Data/brasilian-houses-to-rent/houses_to_rent_v2.csv')

In [3]:
df.head(1)

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
0,São Paulo,70,2,1,1,7,acept,furnished,2065,3300,211,42,5618

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10692 entries, 0 to 10691
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   city                 10692 non-null  object
 1   area                 10692 non-null  int64
 2   rooms                10692 non-null  int64
 3   bathroom             10692 non-null  int64
 4   parking spaces       10692 non-null  int64
 5   floor                10692 non-null  object
 6   animal               10692 non-null  object
 7   furniture            10692 non-null  object
 8   hoa (R$)             10692 non-null  int64
 9   rent amount (R$)     10692 non-null  int64
 10  property tax (R$)    10692 non-null  int64
 11  fire insurance (R$)  10692 non-null  int64
 12  total (R$)           10692 non-null  int64
dtypes: int64(9), object(4)
memory usage: 1.1+ MB

In [5]:
df.columns #let's fix the name column first

Index(['city', 'area', 'rooms', 'bathroom', 'parking spaces', 'floor',
       'animal', 'furniture', 'hoa (R$)', 'rent amount (R$)',
       'property tax (R$)', 'fire insurance (R$)', 'total (R$)'],
      dtype='object')

In [6]:
df.columns=df.columns.str.strip('( R$)')

In [7]:
df.columns=df.columns.str.replace(' ','_')

In [8]:
df.isna().sum()

city              0
area              0
rooms             0
bathroom          0
parking_spaces    0
floor             0
animal            0
furniture         0
hoa               0
rent_amount       0
property_tax      0
fire_insurance    0
total             0
dtype: int64

In [9]:
print(df.city.unique())
print(df.city.value_counts())

['São Paulo' 'Porto Alegre' 'Rio de Janeiro' 'Campinas' 'Belo Horizonte']
São Paulo         5887
Rio de Janeiro    1501
Belo Horizonte    1258
Porto Alegre      1193
Campinas           853
Name: city, dtype: int64

In [10]:
#Get_Dummies for column 'City'
#s=['city']

In [11]:
#dummy=pd.get_dummies(df.city,drop_first=True)

In [12]:
#df=pd.concat([df,dummy],axis=1)

In [13]:
#df.drop('city', axis=1, inplace=True)

In [14]:
df.area.unique();
df.area.value_counts();

In [15]:
df.loc[df.area==46335]
#we have a first outlier that look like not really accurate and pointing question about the product:
#area? floor? price? is it an appartment

,city,area,rooms,bathroom,parking_spaces,floor,animal,furniture,hoa,rent_amount,property_tax,fire_insurance,total
2397,Belo Horizonte,46335,4,8,5,11,acept,furnished,960,8500,646,114,10220

In [16]:
df.loc[df.area==24606]
#same statement here: area?, floor?, price? is it a appartment to rent?

,city,area,rooms,bathroom,parking_spaces,floor,animal,furniture,hoa,rent_amount,property_tax,fire_insurance,total
5915,São Paulo,24606,5,4,4,12,acept,not furnished,2254,8100,7859,103,18320

In [17]:
#We prolly have to drop them bot for our study, will see later

In [18]:
print(df.floor.unique())
print(df.floor.value_counts())

['7' '20' '6' '2' '1' '-' '4' '3' '10' '11' '24' '9' '8' '17' '18' '5'
 '13' '15' '16' '14' '26' '12' '21' '19' '22' '27' '23' '35' '25' '46'
 '28' '29' '301' '51' '32']
-      2461
1      1081
2       985
3       931
4       748
5       600
6       539
7       497
8       490
9       369
10      357
11      303
12      257
13      200
14      170
15      147
16      109
17       96
18       75
19       53
20       44
21       42
23       25
25       25
22       24
26       20
24       19
27        8
28        6
29        5
32        2
51        1
46        1
35        1
301       1
Name: floor, dtype: int64

In [19]:
df.floor.mode()
df.floor=df.floor.replace('-','0')
df.floor=df.floor.astype(int)

In [20]:
print(df.animal.unique())
print(df.animal.value_counts())

['acept' 'not acept']
acept        8316
not acept    2376
Name: animal, dtype: int64

In [21]:
dct=({'acept':1,'not acept':0})
df.animal=df.animal.map(dct)

In [22]:
print(df.furniture.unique())
print(df.furniture.value_counts())

['furnished' 'not furnished']
not furnished    8086
furnished        2606
Name: furniture, dtype: int64

In [23]:
dct=({'furnished':1,'not furnished':0})
df.furniture=df.furniture.map(dct)

In [24]:
df_SaoPaulo=df[df.city=='São Paulo']
df_SaoPaulo.to_csv('/Users/jidekickpush/Documents/GitHub/0323_2020DATAPAR/Projects/Team Project 3/Data/df_SaoPaulo_cleaned.csv', index=False)

In [25]:
df_PortoAlegre=df[df.city=='Porto Alegre']
df_PortoAlegre.to_csv('/Users/jidekickpush/Documents/GitHub/0323_2020DATAPAR/Projects/Team Project 3/Data/df_PortoAlegre_cleaned.csv', index=False)

In [28]:
df_RiodeJaneiro=df[df.city=='Rio de Janeiro']
df_RiodeJaneiro.to_csv('/Users/jidekickpush/Documents/GitHub/0323_2020DATAPAR/Projects/Team Project 3/Data/df_RiodeJaneiro_cleaned.csv', index=False)

In [27]:
#df.to_csv('/Users/jidekickpush/Documents/GitHub/0323_2020DATAPAR/Projects/Team Project 3/Data/df2_brazil_housing_cleaned.csv', index=False)