## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [98]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [99]:
# Your code here
sample_list_1 = random.sample(range(0,100),80)

print(sample_list_1)

#The random.sample() returns a list of unique elements

[77, 63, 55, 79, 49, 22, 85, 21, 0, 33, 80, 83, 90, 11, 95, 5, 15, 76, 84, 56, 16, 23, 46, 30, 34, 60, 50, 44, 8, 69, 51, 14, 3, 20, 92, 2, 82, 35, 42, 81, 27, 87, 88, 71, 12, 70, 26, 53, 61, 19, 97, 99, 38, 45, 96, 65, 68, 4, 10, 98, 75, 31, 41, 29, 89, 74, 64, 43, 17, 1, 93, 28, 9, 7, 67, 58, 94, 24, 62, 66]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [100]:
# Your code here

set1 = set(sample_list_1)
print(set1)

{0, 1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 33, 34, 35, 38, 41, 42, 43, 44, 45, 46, 49, 50, 51, 53, 55, 56, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [101]:
# Your code here
sample_list_2 = []

for i in range(80):
    sample_list_2.append(random.randrange(0, 100))
    
print(sample_list_2)

[18, 88, 62, 42, 44, 29, 63, 16, 33, 74, 62, 49, 40, 86, 84, 67, 32, 6, 21, 54, 65, 37, 39, 25, 25, 85, 21, 22, 35, 87, 30, 14, 21, 72, 58, 10, 34, 35, 95, 57, 5, 23, 54, 81, 82, 22, 76, 58, 43, 33, 26, 96, 71, 85, 55, 92, 58, 35, 32, 34, 94, 14, 20, 84, 78, 69, 65, 24, 90, 80, 75, 46, 10, 39, 0, 32, 56, 91, 60, 61]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [102]:
# Your code here
set2 = set(sample_list_2)

print(set2)
print(len(set2))

#Nope goes from 80 to 50

{0, 5, 6, 10, 14, 16, 18, 20, 21, 22, 23, 24, 25, 26, 29, 30, 32, 33, 34, 35, 37, 39, 40, 42, 43, 44, 46, 49, 54, 55, 56, 57, 58, 60, 61, 62, 63, 65, 67, 69, 71, 72, 74, 75, 76, 78, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 94, 95, 96}
60

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [103]:
# Your code here

set3 = set1 - set2    
print(len(set3),"is the number of elements that are uniques in set1, detail :",set3)

33 is the number of elements that are uniques in set1, detail : {1, 2, 3, 4, 7, 8, 9, 11, 12, 15, 17, 19, 27, 28, 31, 38, 41, 45, 50, 51, 53, 64, 66, 68, 70, 77, 79, 83, 89, 93, 97, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [104]:
# Your code here
set4 = set2 - set1
print(len(set4),"is the number of elements that are uniques in set2, detail :",set4)

13 is the number of elements that are uniques in set2, detail : {32, 37, 6, 39, 40, 72, 78, 18, 54, 86, 25, 91, 57}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [105]:
# Your code here
set5 = set1 & set2
print(len(set5),"is the number of elements that are shared between set1 and set2, detail :",set5)

47 is the number of elements that are shared between set1 and set2, detail : {0, 5, 10, 14, 16, 20, 21, 22, 23, 24, 26, 29, 30, 33, 34, 35, 42, 43, 44, 46, 49, 55, 56, 58, 60, 61, 62, 63, 65, 67, 69, 71, 74, 75, 76, 80, 81, 82, 84, 85, 87, 88, 90, 92, 94, 95, 96}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [106]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

#Didn't understand

80
60
33
13
47

#### Create an empty set called `set6`.

In [107]:
# Your code here
set6= set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [108]:
# Your code here
set6.update(set3)
set6.update(set5)

print("size:",len(set6),"detail:",set6)

size: 80 detail: {0, 1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 33, 34, 35, 38, 41, 42, 43, 44, 45, 46, 49, 50, 51, 53, 55, 56, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [109]:
# Your code here
print(set1==set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [110]:
# Your code here
print(set1.issubset(set2))
print(set1.issubset(set3))

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [111]:
# Your code here
set7 = set3.union(set4,set5)
print(len(set7))

set8 = set1.union(set2)
print(len(set8))

print(len(set7)==len(set8))

93
93
True

#### Using the `pop` method, remove the first element from `set1`.

In [112]:
# Your code here
#print(set1.pop()) => off to continue testing
print(set1)
print(len(set1))

0
{1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 33, 34, 35, 38, 41, 42, 43, 44, 45, 46, 49, 50, 51, 53, 55, 56, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 74, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99}
79

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [96]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
print(set1)

for i in range(len(list_to_remove)):
    if list_to_remove[i] in set1:
        set1.remove(list_to_remove[i])
        
print(set1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 29, 30, 32, 34, 36, 37, 39, 40, 41, 42, 44, 45, 46, 47, 48, 51, 52, 53, 54, 56, 57, 58, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 87, 88, 89, 91, 92, 93, 95, 97, 98}
{0, 2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 17, 18, 20, 22, 23, 24, 25, 26, 27, 30, 32, 34, 36, 37, 40, 42, 44, 45, 46, 47, 48, 52, 53, 54, 56, 57, 58, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 77, 78, 80, 82, 83, 84, 85, 87, 88, 92, 93, 95, 97, 98}