In [28]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine
import os
os.chdir('/Users/jidekickpush/Documents/GitHub/Mysql/czech')

In [29]:
account=pd.read_csv('/Users/jidekickpush/Documents/GitHub/Mysql/czech/account.asc', sep=';')

In [30]:
account.head()

   account_id  district_id         frequency    date
0         576           55  POPLATEK MESICNE  930101
1        3818           74  POPLATEK MESICNE  930101
2         704           55  POPLATEK MESICNE  930101
3        2378           16  POPLATEK MESICNE  930101
4        2632           24  POPLATEK MESICNE  930102

In [38]:
username='root'
host='localhost'
database='finance'
password='brooklyn452*'
create_engine = f'mysql+pymysql://{username}:{password}@{host}/{database}'

In [39]:
database = 'finance'
engine = create_engine

In [40]:
account.to_sql('account',engine, if_exists ='replace', index=False)

In [41]:
card=pd.read_csv('/Users/jidekickpush/Documents/GitHub/Mysql/czech/card.asc', sep=';')
card.to_sql('card',engine, if_exists ='replace', index=False)

In [42]:
client=pd.read_csv('/Users/jidekickpush/Documents/GitHub/Mysql/czech/client.asc', sep=';')
client.to_sql('client',engine, if_exists ='replace', index=False)

In [43]:
disp=pd.read_csv('/Users/jidekickpush/Documents/GitHub/Mysql/czech/disp.asc', sep=';')
disp.to_sql('disp',engine, if_exists ='replace', index=False)

In [44]:
district=pd.read_csv('/Users/jidekickpush/Documents/GitHub/Mysql/czech/district.asc', sep=';')
district.to_sql('district',engine, if_exists ='replace', index=False)

In [45]:
loan=pd.read_csv('/Users/jidekickpush/Documents/GitHub/Mysql/czech/loan.asc', sep=';')
loan.to_sql('loan',engine, if_exists ='replace', index=False)

In [46]:
order=pd.read_csv('/Users/jidekickpush/Documents/GitHub/Mysql/czech/order.asc', sep=';')
order.to_sql('order',engine, if_exists ='replace', index=False)

In [48]:
trans=pd.read_csv('/Users/jidekickpush/Documents/GitHub/Mysql/czech/trans.asc', sep=';')
trans.to_sql('trans',engine, if_exists ='replace', index=False)